/* 
12px = 0.75rem
14px = 0.875rem
20px = 1.25rem
30px = 1.875rem
50px = 3.125rem

color: ##007bff,##F8F9FA;
*/

body {
    width: 1920px;
    background-color:#F8F9FA ;
}
/* header ======================== */
header {
    /* background-color: wheat; */
    width: 1320px;
    margin:0 auto;
}
header .header_top {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header_top h1 {}
header .header_top h1 a {width:200px; height: 60px; display: inline-block; line-height: 80px;}
header .header_top h1 a img {width:100%;}
header .header_top .header_wrap {}
header .header_top .header_wrap a {width:25px; height:25px; display: inline-block;margin-right:20px;}
header .header_top .header_wrap a:last-child {margin-right:0;}
header .header_top .header_wrap a img {width:100%;}
header nav {
    width: 1320px; height: 63px;
    text-align:left;
    background-color:#fff;
    padding:20px 30px;
    border-radius: 10px;
}
header nav a {margin-right:30px; font-size:0.875rem;}
header nav a:hover {color:#007bff;}
/* main ======================== */
main {}
main .title {
    background-color: #fff;
    border-radius: 10px;
    width: 1320px;
    height: 190px;
    margin:33px auto;
    position:relative;
}
main .title a {padding:51px;display: inline-block;}
main .title a > h1 {
    /* background-color:limegreen; */
    font-size: 3.125rem; font-weight: 600;
}
main .title a p {margin-top:20px; font-size: 1.25rem;}
main .title a p span {color:#555; font-size: 0.875rem;}
main .title .subscribe {
    width: 160px;
    height: 50px;
    font-weight: 600;
    color:#fff;
    background-color:#007bff;
    border-radius: 50px;
    position:absolute; top:55px; right:30px;
    transition:all 0.5s;
}
main .title .subscribe:hover {
    border:1px solid #007bff;
    color: #007bff;
    background-color: #fff;
}
/* new 1 ================================= */
main .container {
    width: 1320px; margin: 100px auto;
    padding:50px;
    background-color: #fff;border-radius: 10px;
}
main .container > .card {}
main .container > .card > h2 {font-size: 1.875rem; font-weight: 600;}
main .container > .card > .thum {
    width:1220px;
    height: 353px;
    margin-top:50px;
    display: flex;
    justify-content: space-between;
}
main .container > .card > h2:hover {color:#007bff;}
main .container .card > .thum img {height: 100%;border-radius:10px;}
main .container .card > .contents {padding:50px 0;}
main .container .card > .contents p {line-height: 1.5;}
/* new 2 + 3 ================================= */
main .container_btm {
    display: flex;
    justify-content: space-between;
    gap:20px;
}
main .container_btm .card {}
main .container_btm .card h2 {
    /* background-color: yellow; */
    width: 600px;
    height: 86px;
    font-size: 1.875rem; font-weight: 600;
}
main .container_btm .card h2:hover {color:#007bff;}
main .container_btm .card .thum {}
main .container_btm .card .thum p {width: 600px; height: 353px;margin:20px 0;}
main .container_btm .card .thum p img {width: 100%;}
main .container_btm .card .contents {}
main .container_btm .card .contents p {line-height: 1.5;}
main .container_btm .new2 {}
main .container_btm .new3 {}
/* footer ======================== */
footer {
    width: 100%; height:330px;background-color: #eee;
    display: flex;
    align-items: center;
}
footer .footer_wrap {
    width: 745px;
    margin: 0 auto;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
}
footer .footer_wrap .btm_logo {width: 150px; height: 60px;}
footer .footer_wrap .btm_logo a {display: inline-block; line-height:150px;}
footer .footer_wrap .btm_logo a img {width: 100%;}
footer .footer_wrap .btm_contents {}
footer .footer_wrap .btm_contents .footer_top {}
footer .footer_wrap .btm_contents .footer_top a {font-weight: 600;margin-right:50px;}
footer .footer_wrap .btm_contents .footer_btm {font-size: 0.75rem;margin-top:50px;}
footer .footer_wrap .btm_contents .footer_btm address {}
footer .footer_wrap .btm_contents .footer_btm p {padding-top:12px;}